@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-copy;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  
}

::-webkit-scrollbar {
  display: none;
}

.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --primary-color: #1a1a1a;
  --foreground-color: #262626;
  --border-color: #404040;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-color); /* Use your custom color */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family:
  GT Walsheim,
  Helvetica Neue,
  Helvetica,
  Arial,
  sans-serif;
}

